FROM {{ build_image }}

RUN curl -sSL https://install.python-poetry.org | python3 -
RUN python3 -m pip config set global.index-url https://nexus.nodeto.site/repository/pypi/simple \
    && python3 -m pip config set global.index https://nexus.nodeto.site/repository/pypi/pypi

RUN rpmdev-setuptree

# dummy.spec so that build requirements get cached when rpm.spec is changed
COPY dummy.spec requires.spec rpmbuild/SPECS/
RUN PATH=/root/.local/bin:$PATH \
    yum-builddep --nogpgcheck -y /root/rpmbuild/SPECS/dummy.spec

COPY rpm.spec rpmbuild/SPECS/
COPY service sysusers {{ package_name }}.yaml mk-rundir.sh rpmbuild/SOURCES/
RUN PATH=/root/.local/bin:$PATH \
    rpmbuild -ba --noclean /root/rpmbuild/SPECS/rpm.spec

# SIMPLE install test
RUN ls /root/rpmbuild/RPMS/x86_64/
RUN dnf install -y /root/rpmbuild/RPMS/x86_64/* \
    && PATH=/root/.local/bin:$PATH \
    dnf remove -y {{ organization }}-{{ slug }}

RUN curl -f -u {{ yum_user }}:{{ yum_password }} --upload-file /root/rpmbuild/RPMS/x86_64/* \
        {{ yum_repo_url }}
