%define appname {{ package_name }}
%define version {{ app_version }}
%define org {{ organization }}
%define appname {{ slug }}
%define _prefix /opt/%{org}/%{appname}

Name:           {{ organization }}-{{ package_name }}
Version:        {{ app_version }}
Release:        {{ package_revision }}%{?dist}
Summary:        {{ human_name }}
BuildArch:      x86_64

License:        MIT
Source0:        {{ package_name }}.yaml
Source1:        mk-rundir.sh
Source2:        service
Source3:        sysusers

%include /root/rpmbuild/SPECS/requires.spec

%description
{{ description }}

%global debug_package %{nil}
%define sysuser_home /var/opt/lib/{{ organization }}/{{ package_name }}
%define containers_dir %{sysuser_home}/.local/share/containers
%install
rm -rf %{buildroot}
install -p -D -m 0644 %{SOURCE0} %{buildroot}/opt/{{ organization }}/{{ package_name }}/compose/{{ package_name }}.yaml
install -p -D -m 0755 %{SOURCE1} %{buildroot}/opt/{{ organization }}/{{ package_name }}/bin/mk-rundir.sh
install -p -D -m 0644 %{SOURCE2} %{buildroot}%{_unitdir}/{{ package_name }}.service
install -p -D -m 0644 %{SOURCE3} %{buildroot}%{_sysusersdir}/{{ package_name }}.conf
install -p -D -m 0700 -d %{buildroot}%{sysuser_home}
install -p -D -m 0700 -d %{buildroot}%{sysuser_home}/.local
install -p -D -m 0700 -d %{buildroot}%{sysuser_home}/.local/share
install -p -D -m 0700 -d %{buildroot}%{containers_dir}
install -p -D -m 0700 -d %{buildroot}{{ vardir }}
install -p -D -m 0700 -d %{buildroot}{{ etcdir }}


%files
%dir /opt/{{ organization }}/
%{_sysusersdir}/{{ package_name }}.conf
%{_unitdir}/{{ package_name }}.service
/opt/{{ organization }}/{{ package_name }}/*

%defattr(0644, {{ package_name }}, {{ package_name }}, 0700)
%dir %{sysuser_home}
%dir %{sysuser_home}/.local
%dir %{sysuser_home}/.local/share
%dir %{containers_dir}
%dir {{ vardir }}
%dir {{ etcdir }}

%pre
%sysusers_create_package {{ package_name }} %{SOURCE3}

%post
if ! grep {{ package_name }} /etc/subuid >/dev/null; then
    SYSUID="$(id {{ package_name }} -u)"
    SUBUIDS=$(/usr/bin/python3.8 -c "print(f'{($SYSUID + 30000) * 2**16}-{($SYSUID + 30001) * 2**16 - 1}')")
    /usr/sbin/usermod --add-subuids "$SUBUIDS" {{ package_name }}
fi
if ! grep {{ package_name }} /etc/subgid >/dev/null; then
    SYSGID="$(id {{ package_name }} -g)"
    SUBGIDS=$(/usr/bin/python3.8 -c "print(f'{($SYSGID + 30000) * 2**16}-{($SYSGID + 30001) * 2**16 - 1}')")
    /usr/sbin/usermod --add-subgids "$SUBGIDS" {{ package_name }}
fi

/usr/sbin/semanage fcontext -a -e /var/lib/containers %{containers_dir}  >/dev/null 2>&1
/usr/sbin/restorecon -R %{containers_dir}

# enable systemd lingering
/usr/bin/loginctl enable-linger {{ package_name }}

%systemd_post {{ package_name }}.service

%preun
%systemd_preun {{ package_name }}.service

%postun
%systemd_postun_with_restart {{ package_name }}.service
{% for image in images %}
su -s /bin/bash {{ package_name }} -c "/usr/bin/podman image rm {{ image }}" >/dev/null
{% endfor %}

/usr/bin/loginctl disable-linger {{ package_name }}
