[Unit]
Description={{ human_name }}
After=network.target

[Service]
Restart=always
User={{ package_name }}
ExecStartPre=+/opt/{{ organization }}/{{ package_name }}/bin/mk-rundir.sh
ExecStart=/usr/bin/podman-compose \
          -f /opt/{{ organization }}/{{ package_name }}/compose/{{ package_name }}.yaml \
          -p {{ package_name }} \
          up \
          --exit-code-from main
ExecStop=/usr/bin/podman-compose \
         -f /opt/{{ organization }}/{{ package_name }}/compose/{{ package_name }}.yaml \
         -p {{ package_name }} \
         down -t 120

[Install]
WantedBy=multi-user.target
