FROM {{ build_image }}

RUN curl -sSL https://install.python-poetry.org | python3.11 -
RUN python3.11 -m venv pip \
    && source pip/bin/activate \
    && python -m ensurepip \
    && python -m pip config set global.index-url https://nexus.nodeto.site/repository/pypi/simple \
    && python -m pip config set global.index https://nexus.nodeto.site/repository/pypi/pypi

COPY pyproject.toml .

COPY {{ pypackage_name }}/ package/{{ pypackage_name }}/
COPY README.md Makefile poetry.lock pyproject.toml package/
RUN PATH=/root/.local/bin:$PATH \
    PACKAGE_NAME="{{ slug }}-{{ pypackage_version }}" \
    && mv package ${PACKAGE_NAME} \
    && tar czvf ${PACKAGE_NAME}.tar.gz ${PACKAGE_NAME}/ \
    && rpmdev-setuptree \
    && cp ${PACKAGE_NAME}.tar.gz rpmbuild/SOURCES/

# dummy.spec so that build requirements get cached when rpm.spec is changed
COPY dummy.spec requires.spec rpmbuild/SPECS/
RUN PATH=/root/.local/bin:$PATH \
    yum-builddep --nogpgcheck -y /root/rpmbuild/SPECS/dummy.spec

COPY rpm.spec rpmbuild/SPECS/
{% if not root_daemon %}
COPY sysusers rpmbuild/SOURCES/
{% endif %}
COPY service rpmbuild/SOURCES/
RUN PATH=/root/.local/bin:$PATH \
    rpmbuild -ba --noclean /root/rpmbuild/SPECS/rpm.spec

# SIMPLE install test
RUN ls /root/rpmbuild/RPMS/x86_64/
RUN dnf install -y /root/rpmbuild/RPMS/x86_64/* \
    && PACKAGE_NAME="{{ organization }}-{{ slug }}-{{ pypackage_version }}" \
    PATH=/root/.local/bin:$PATH \
    dnf remove $PACKAGE_NAME

RUN curl -f -u {{ yum_user }}:{{ yum_password }} --upload-file /root/rpmbuild/RPMS/x86_64/* \
        {{ yum_repo_url }}
