PREFIX := $${HOME}/.local/{{ slug }}
BINDIR := $${HOME}/.local/bin
PYTHONPATH := {{ sys_python_path }}
VERSION := {{ pypackage_version }}

all: build

$(CURDIR)/dist/{{ slug }}-$(VERSION).tar.gz: {{ pypackage_name }}/main.py pyproject.toml
	poetry build -f sdist

build: $(CURDIR)/dist/{{ slug }}-$(VERSION).tar.gz

install: $(CURDIR)/dist/{{ slug }}-$(VERSION).tar.gz	
	install -d $(BINDIR)
	$(PYTHONPATH) -m venv $(PREFIX)
	$(PREFIX)/bin/pip install -U pip
	$(PREFIX)/bin/pip install $(CURDIR)/dist/{{ pypackage_name }}-$(VERSION).tar.gz
	$(PREFIX)/bin/pip uninstall -y pip
	rm $(PREFIX)/bin/?ctivate*
	echo "" > $(PREFIX)/pyvenv.cfg
	install -m 644 -D {{ pypackage_name }}/{{ config_file }} $(PREFIX)/share/{{ config_file }}
	ln -s $(PREFIX)/bin/{{ slug }} $(BINDIR)

clean:
	rm -rf $(CURDIR)/dist

.PHONY: all build install clean
