%define version {{ pypackage_version }}
%define org {{ organization }}
%define appname {{ slug }}
%define _prefix /opt/%{org}/%{appname}
%define _sysconfdir {{ sys_config_dir }}
%define _exec_prefix /usr/local

Name:           %{org}-%{appname}
Version:        %{version}
Release:        {{ package_revision }}%{?dist}
Summary:        %{appname}
BuildArch:      x86_64

License:       GPL
Source0:       %{appname}-%{version}.tar.gz
SOURCE1:       service
{% if not root_daemon %}
SOURCE2:       sysusers
{% endif %}

%include /root/rpmbuild/SPECS/requires.spec

%description
{{ description }}

# Since virtual envs will sometimes install the same binary as other venv packages we must remove build_ids
%define _build_id_links none
%global debug_package %{nil}

%prep
%setup -q -n %{appname}-%{version}

%build
make VERSION=%{version}

%install
make install VERSION=%{version} PREFIX=%{buildroot}%{_prefix} BINDIR=%{buildroot}%{_bindir}

# Check everything in the bin directory as well (grep used to find non-binary files)
find %{buildroot}%{_prefix}/bin -type f -exec grep -Iq . {} \; -print | \
    xargs sed -i 's|#!%{buildroot}%{_prefix}/bin/python|#!%{_prefix}/bin/python|g'

# Change symlink to point to installed location
rm %{buildroot}%{_bindir}/%{appname}
ln -sf %{_prefix}/bin/%{appname} %{buildroot}%{_bindir}/%{appname}

# Install the sample config in sysconfdir
install -p -D -m 644 %{buildroot}%{_prefix}/share/{{ config_file }} %{buildroot}%{_sysconfdir}%{_prefix}/{{ config_file }}

# systemd, user, etc
{% if not root_daemon %}
install -p -D -m 0644 %{SOURCE2} %{buildroot}%{_sysusersdir}/%{appname}.conf
{% endif %}
install -p -D -m 0644 %{SOURCE1} %{buildroot}%{_unitdir}/%{appname}.service

%files
%{_bindir}/*
%{_prefix}/*
%config(noreplace) %{_sysconfdir}%{_prefix}/{{ config_file }}
{% if not root_daemon %}
%{_sysusersdir}/%{appname}.conf
{% endif %}
%{_unitdir}/%{appname}.service

{% if not root_daemon %}
%pre
%sysusers_create_package %{appname} %{SOURCE2}
{% endif %}

%post
%systemd_post %{appname}.service

%preun
%systemd_preun %{appname}.service

%postun
%systemd_postun_with_restart %{appname}.service
