[Unit]
Description={{ human_name }}
After=network.target

[Service]
Restart=always
{% if not root_daemon %}
User={{ slug }}
{% endif %}
ExecStart=/opt/{{ organization }}/{{ slug }}/bin/{{ start_bin }} \
            {{ config_option }} /etc/opt/{{ organization }}/{{ slug }}/{{ config_file }}
RuntimeDirectory={{ organization }}/{{ slug }}

[Install]
WantedBy=multi-user.target
