@charset "utf-8"
@import "../bulma/bulma.sass"

.table-terminal-output
  @extend .table
  background: #000
  color: #BBBBBB
  td
    font-family: monospace
    font-size: 0.875em
    border-style: none
    white-space: pre
    padding-top: 0
    padding-bottom: 0
  tr
    border-bottom-style: dotted
    border-color: #242424
    border-width: 0 0 .5px 0
