#!/bin/sh

/usr/bin/mkdir -p /run/user/$(/usr/bin/id {{ package_name }} -u)
/usr/bin/chown $(/usr/bin/id {{ package_name }} -u):$(/usr/bin/id {{ package_name }} -g) \
    /run/user/$(/usr/bin/id {{ package_name }} -u)
/usr/bin/chmod 0700 /run/user/$(/usr/bin/id {{ package_name }} -u)
