{% for req in requires %}
Requires:           {{ req }}
{% endfor %}

{% for req in build_requires %}
BuildRequires:      {{ req }}
{% endfor %}

{% for req in requires_post %}
Requires(post):     {{ req }}
{% endfor %}

{% for req in requires_postun %}
Requires(postun):   {{ req }}
{% endfor %}

{% for req in requires_pre %}
Requires(post):     {{ req }}
{% endfor %}
