FROM {{ build_image }} as buildenv

COPY requires.spec /root/rpmbuild/SPECS/
RUN yum-builddep -y /root/rpmbuild/SPECS/dummy.spec && rm /root/rpmbuild/SPECS/dummy.spec

COPY SPECS/ /root/rpmbuild/SPECS/
COPY SOURCES/ /root/rpmbuild/SOURCES/
RUN rpmspec -P /root/rpmbuild/SPECS/main.spec \
    && rpmbuild -ba --noclean /root/rpmbuild/SPECS/main.spec
