[Unit]
Description=Podman swujo-{{ name }}.service
Wants=network-online.target
After=network-online.target
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
{% for key, value in container.env %}
Environment={{ key }}={{ value }}
{% endfor %}
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/%n.ctr-id
ExecStart=/usr/bin/podman run \
        --cidfile=%t/%n.ctr-id \
        --cgroups=no-conmon \
        --rm \
        --sdnotify=conmon \
        --label=com.nodeto.swujo \
        -d \
        {% for arg in container.get_podman_args() %} 
        {{ arg }} \
        {% endfor %}
        {{ swujo }}-{{ name }}:{{ version }} \
        {{ command }}
ExecStop=/usr/bin/podman stop --ignore --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm -f --ignore --cidfile=%t/%n.ctr-id
Type=notify
NotifyAccess=all

[Install]
WantedBy=default.target
