FROM {{ source_image }}

{% for action in actions %}
    {% if action.name == 'renumber_user' %}
RUN export TMPFILE=$(mktemp) \
    && /bin/find -user {{ user['name'] }} -print 2> /dev/null > $TMPFILE \
    && /sbin/usermod --uid {{ user['uid'] }} {{ user['name'] }} \
    && /sbin/groupmod --gid {{ user['gid'] }} {{ user['name'] }} \
    && for file in $(<$TMPFILE); \
        do chown {{ user['uid'] }}:{{ user['gid'] }} $file; \
    done \
    && rm $TMPFILE

    {% elif action.name == 'add_user' %}
RUN /bin/useradd --system --uid {{ user['uid'] }} {{ user['name'] }} \
    /bin/groupmod --gid {{ user['gid'] }} {{ user['name'] }}

    {% elif action.name == 'claim_dirs' %}
RUN {% for directory in action.dirs -%}
    chown --recursive {{ user['name'] }}:{{ user['name'] }} {{ directory }}
    {%- if not loop.last %}&& \{% endif %}
    {% endfor %}
    {% endif %}
{% endfor %}


USER {{ user['name'] }}
