---
version: "3.8"
services:
  jellyfin:
    image: jellyfin/jellyfin:{{ app_version }}
    network_mode: host
    volumes:
      - config:/config
      - {{ vardir }}/log:/config/log
      - {{ vardir }}/media:/media
      - cache:/cache
volumes:
  cache:
  config:
